.theme-selector
  width: 50px
  height: 50px
  border-radius: 4px

.app-navbar
  .navbar-link
    background-color: transparent !important
    &:hover
      background-color: transparent !important

.navbar-dropdown
  border-top: 5px solid
  top: 75px
  width: 300px
  // right: 1.5rem
  &::after
    top: -14px
    right: 0.8rem
    content: ''
    position: absolute
    border-left: 12px solid transparent !important
    border-right: 12px solid transparent !important
    border-bottom: 12px solid
  .dropdown-header  
    padding: 0 10px 5px 10px
    font-size: 13px
    text-align: left
    border-bottom: 1px solid #f2f2f2
    background-color: #F9FAFB
    font-variant: unicase
  .navbar-item.themed
    color: #fff
    &:hover
      color: #fff

.navbar-item
  cursor: pointer

.fader-enter
  .modal-card
    opacity: 0
    transform: scale(0.9)

.fader-enter-active
  .modal-card
    opacity: 1
    transform: translateX(0)
    transition: opacity 300ms, transform 300ms

.fader-exit
  .modal-card
    opacity: 1

.fader-exit-active
  .modal-card
    opacity: 0
    transform: scale(0.9)
    transition: opacity 300ms, transform 300ms

.modal-card-body
  .columns
    .column.is-flex
      justify-content: center
      .theme-selector
        cursor: pointer

