@import '../../../styles/_variables'
.app-sidebar__tabs__tab
  flex: 1
  // background-color: #6f9ccc
  border-right: 1px solid rgba(0, 0, 0, 0.1)
  box-sizing: border-box
  cursor: pointer
  font-size: 16px
  outline: none
  text-align: center
  vertical-align: middle
  padding: 10px
.app-sidebar__tabs__tab:last-child
  border: none
.app-sidebar__tabs__tab.active
  box-sizing: border-box
  cursor: pointer
  display: table-cell
  font-size: 16px
  outline: none
  text-align: center
  vertical-align: middle
  svg
    color: #ffffff
