.app-sidebar__tabs
  .app-sidebar__tabs__wrapper
    box-sizing: border-box
    display: flex
    position: sticky
    top: 75px
    z-index: 2
  .app-sidebar__tabs__content
    background-color #37474F
