@import '../../styles/_variables'

.app-sidebar
  position: relative
  display: block
  height: 100%
  box-sizing: border-box
  background-color: #33414b
  overflow: auto
  .app-sidebar__header
    background-color: #4f80b4
    box-sizing: border-box
    height: 75px
    display: flex
    align-items: center
    justify-content: center
    .member-status
      margin-left: 15px
      font-size: 18px
      color: #ffffff
      h3
        font-weight: 500
        margin-bottom: 5px
        line-height: 1.5em
      .progess-bar
        margin: 0
        height: 4px
        width: 100%
        border-radius: $radius-default
        position: relative
        background-color: #789d78
        .progress-bar__progress
          background-color: #fff
          box-shadow: rgba(0,0,0,.15) 0 -1px 0 inset
          box-sizing: border-box
          color: #fff
          float: left
          font-size: 12px
          height: 100%
          line-height: 25px
          text-align: center
          transition: width .6s
          width: 30%
    .lock
      margin-left: 20px
      border-radius: $radius-round
      padding: 7px 9px
      cursor: pointer
      &:hover
        background-color: #5892d1
      svg
        color: #ffffff
  .app-sidebar__content
    box-sizing: border-box
    position: relative
    width: 100%