.sidebar-overview__content__list__item
  border-style: none
  box-sizing: border-box
  color: #89949b
  display: block
  font-size: 16px
  font-weight: normal
  height: 45px
  line-height: 16px
  outline: none
  padding: 15px 25px
  text-decoration: none
  text-shadow: none
  letter-spacing: 1px
  &:hover
    background-color: #2a353c
  .name
    box-sizing: border-box
    line-height: 18px
    margin-left: 15px
    vertical-align: top
  .sidebar-icon
    box-sizing: border-box
    display: inline-block
    height: 19px
    vertical-align: top
    width: 18px