@import '../../styles/_variables'

.app-sidebar
  max-width: 300px
  height: 100vh
  background-color: #f0f0f0
  position: relative
  display: block
.app-sidebar__header
  background-color: #4f80b4
  box-sizing: border-box
  height: 75px
  display: flex
  align-items: center
  justify-content: center
  .member-status
    margin-left: 15px
    font-size: 18px
    color: #ffffff
    h3
      font-weight: 500
      margin-bottom: 5px
      line-height: 1.5em
    .progess-bar
      margin: 0
      height: 4px
      width: 100%
      border-radius: $radius-default
      position: relative
      background-color: #789d78
      .progress-bar__progress
        background-color: #fff
        box-shadow: rgba(0,0,0,.15) 0 -1px 0 inset
        box-sizing: border-box
        color: #fff
        float: left
        font-size: 12px
        height: 100%
        line-height: 25px
        text-align: center
        transition: width .6s
        width: 30%
  .lock
    margin-left: 20px
    border-radius: $radius-round
    padding: 5px 10px
    cursor: pointer
    &:hover
      background-color: #5892d1
    svg
      color: #ffffff
.app-sidebar__content
  height: 100%
  box-sizing: border-box
  position: relative
  width: 100%
.app-sidebar__tabs__wrapper
  box-sizing: border-box
  display: flex
.app-sidebar__tabs__tab
  flex: 1
  background-color: #6f9ccc
  border-right: 1px solid #4f80b4
  box-sizing: border-box
  cursor: pointer
  font-size: 16px
  outline: none
  text-align: center
  vertical-align: middle
  padding: 5px
  svg
    color: #4f80b4
.app-sidebar__tabs__tab:last-child
  border: none
.app-sidebar__tabs__tab:hover
  background-color: #6898ca
.app-sidebar__tabs__tab.active
  background-color: #4f80b4
  box-sizing: border-box
  cursor: pointer
  display: table-cell
  font-size: 16px
  outline: none
  text-align: center
  vertical-align: middle
  svg
    color: #ffffff