@import 'styles/_variables'
.App
  height: 100%
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif
  -webkit-touch-callout: none
    -webkit-user-select: none
     -khtml-user-select: none
       -moz-user-select: none
        -ms-user-select: none
            user-select: none

.max-height
  height: 100%

.app-container
  display: flex
  width: 100%
  .sidebar-container
    position: fixed
    width: 278px
    left: -278px
    transition: left .5s ease
  .content-container
    position: fixed
    width: 100%
    left: 0
    transition: left .5s ease

.navbar
  min-height: 75px
  background-color: $navbar-grey !important

  .navbar-item
    font-size: 22px

  .navbar-section-divider
    height: 75px
    border: 1px solid rgba(137, 148, 155, 0.45)

  .navbar-section
    display: flex
    justify-content: center
    padding: 20px
    max-height: 75px

.theme-icon
  border-radius: 50%
  height: 20px
  width: 20px

@media (min-width: 1095px)
  .app-container
    .sidebar-container
      width: 278px
      left: 0
    .content-container
      width: calc(100% - 278px)
      left: 278px

@for $i from 0 through 5
  .p-#{$i} { padding: 1em * $i }
  .pl-#{$i} { padding-left: 1em * $i }
  .pr-#{$i} { padding-right: 1em * $i }
  .pb-#{$i} { padding-bottom: 1em * $i }
  .pt-#{$i} { padding-top: 1em * $i }

@for $i from 0 through 5
  .m-#{$i} { margin: 1em * $i }
  .mr-#{$i} { margin-right: 1em * $i }
  .mb-#{$i} { margin-bottom: 1em * $i }
  .mt-#{$i} { margin-top: 1em * $i }
  .ml-#{$i} { margin-left: 1em * $i }
