@import 'styles/_variables'
.App
  height: 100%
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif
  -webkit-touch-callout: none
    -webkit-user-select: none
     -khtml-user-select: none
       -moz-user-select: none
        -ms-user-select: none
            user-select: none

.max-height
  height: 100%

.navbar
  min-height: 75px
  background-color: #33414b !important

  .navbar-item
    font-size: 22px

  .navbar-section-divider
    height: 75px
    border: 1px solid rgba(137, 148, 155, 0.45)

  .navbar-section
    display: flex
    justify-content: center
    padding: 20px
    max-height: 75px

.theme-icon
  border-radius: 50%
  height: 20px
  width: 20px

  &.theme-blue
    background-color: $theme-blue

@for $i from 0 through 5
  .p-#{$i} { padding: 1em * $i }
  .pl-#{$i} { padding-left: 1em * $i }
  .pr-#{$i} { padding-right: 1em * $i }
  .pb-#{$i} { padding-bottom: 1em * $i }
  .pt-#{$i} { padding-top: 1em * $i }

@for $i from 0 through 5
  .m-#{$i} { margin: 1em * $i }
  .mr-#{$i} { margin-right: 1em * $i }
  .mb-#{$i} { margin-bottom: 1em * $i }
  .mt-#{$i} { margin-top: 1em * $i }
  .ml-#{$i} { margin-left: 1em * $i }