.sidebar-overview
  margin-top: 10px
  margin-bottom: 20px
  .sidebar-overview__search
    padding: 0 25px
    .sidebar-search
      background-color: inherit
      border-left: none
      border-right: none
      border-top: none
      border-bottom: 1px solid #89949b
      border-radius: 0
      box-shadow: none
      color: #ffffff
      font-size: 14px
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
      &:active
      &:focus
        border: none
        border-color: #4f80b4
        box-shadow: none
        border-bottom: 1px solid #4f80b4
      &::placeholder
        color: #89949b
  .sidebar-overview__content
    box-sizing: border-box
    color: rgba(137,148,155,.4)
    font-size: 12px
    font-weight: 700
    line-height: 1
    padding-bottom: 12px
    padding-left: 25px
    padding-top: 25px
    padding-right: 25px
    .sidebar-overview__content__list
      border-left-color: rgba(59,70,72,.5)
      border-style: none
      box-sizing: border-box
      list-style: none
      margin: 10px -25px
      padding: 0